// Primary colors:
$desaturated-red: hsl(0, 36%, 70%);
$Soft-red: hsl(0, 93%, 68%);

// Neutral colors

$Dark-grayish-red: hsl(0, 6%, 24%);

// Gradients

// Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
// Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

// Typography
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
}

//Layout:
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
body {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr auto;
}

//Frontend Mentor Atributtion
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
